<h1>Articles index</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>

<% @article.each do |x| %>
<% unless x.archived?  %>

<li>

    <%= link_to x.title, x %>

</li>

<% end %>
 <% end %>
<br>

<%= link_to "New Article ",new_article_path %>
    </ul>
